In [2]:
import pandas as pd

food =['burger','pizza','salad']
pd.Series(food)

0    burger
1     pizza
2     salad
dtype: object

In [3]:
type(pd.Series(food))

pandas.core.series.Series

In [13]:
lottery=[1,2,3,4,5,6]
lotteryseries=pd.Series(lottery)
lotteryseries

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [5]:
dictionary = {'fruit':'banana','fastfood':'burger','vegetable':'tomato'}
newseries = pd.Series(dictionary)
newseries

fastfood     burger
fruit        banana
vegetable    tomato
dtype: object

In [17]:
myindex = ['yes','I','won','the','lottery','today']
newlotteryseries=pd.Series(lottery, index=myindex)
newlotteryseries

yes        1
I          2
won        3
the        4
lottery    5
today      6
dtype: int64

In [18]:
newlotteryseries.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [19]:
newlotteryseries.index

Index(['yes', 'I', 'won', 'the', 'lottery', 'today'], dtype='object')

In [20]:
newlotteryseries.dtype

dtype('int64')

In [21]:
newlotteryseries.sum()

21

In [22]:
newlotteryseries.product()

720

In [23]:
newlotteryseries.mean()

3.5

In [25]:
newlotteryseries.median()

3.5

In [28]:
test=pd.Series(lottery, myindex)
test

yes        1
I          2
won        3
the        4
lottery    5
today      6
dtype: int64

In [29]:
test2=pd.Series(index=lottery, data=myindex)
test2

1        yes
2          I
3        won
4        the
5    lottery
6      today
dtype: object

In [30]:
len(test2)

6

In [31]:
sorted(test2)

['I', 'lottery', 'the', 'today', 'won', 'yes']

In [32]:
sorted(test)

[1, 2, 3, 4, 5, 6]

In [33]:
test2.sort_values()

2          I
5    lottery
4        the
6      today
3        won
1        yes
dtype: object

In [38]:
test2.sort_values(ascending=False)

2          I
5    lottery
4        the
6      today
3        won
1        yes
dtype: object

In [39]:
test2.sort_index(ascending=False)

6      today
5    lottery
4        the
3        won
2          I
1        yes
dtype: object

In [40]:
'I' in test2.values

True

In [41]:
'Apple' in test2.values

False

In [43]:
test.std()

1.8708286933869707

In [44]:
test.mean()

3.5

In [45]:
test.max()

6

In [49]:
test.min()

1

In [46]:
test.count()

6

In [50]:
test.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [52]:
test.idxmin()

'yes'

In [54]:
test.idxmax()

'today'

In [55]:
test*5

yes         5
I          10
won        15
the        20
lottery    25
today      30
dtype: int64