In [4]:
test1=10
test2=20
print ("first {} and second {}".format(test1,test2))

first 10 and second 20

In [19]:
test1=10
test2=20
print ("first {0} and second {1}".format(test1,test2))

first 10 and second 20

In [20]:
test1=10
test2=20
print ("first {0} and second {0}".format(test1))

first 10 and second 10

In [28]:
test1=10
test2=20
print ("first {test1} and second {test2}".format(test1="10",test2="20"))

first 10 and second 20

In [55]:

import pandas as pd 

import urllib.request  as urllib2 
url = 'http://winterolympicsmedals.com/medals.csv'
response = urllib2.urlopen(url)
cr = pd.read_csv(response)
cr.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [71]:
string = "peace comes from within"
capitalized_string = string.capitalize()
print(capitalized_string)

Peace comes from within