In [15]:
#Read the JSON File
import pandas as pd

data = pd.read_json('input.json')
print (data)
#convert data to JSON
print(data.to_json(orient='records', lines=True))

         Dept  ID      Name  Salary   StartDate
0          IT   1      Rick  623.30    1/1/2012
1  Operations   2       Dan  515.20   9/23/2013
2          IT   3  Michelle  611.00  11/15/2014
3          HR   4      Ryan  729.00   5/11/2014
4     Finance   5      Gary  843.25   3/27/2015
5          IT   6      Nina  578.00   5/21/2013
6  Operations   7     Simon  632.80   7/30/2013
7     Finance   8      Guru  722.50   6/17/2014
{"Dept":"IT","ID":1,"Name":"Rick","Salary":623.3,"StartDate":"1\/1\/2012"}
{"Dept":"Operations","ID":2,"Name":"Dan","Salary":515.2,"StartDate":"9\/23\/2013"}
{"Dept":"IT","ID":3,"Name":"Michelle","Salary":611.0,"StartDate":"11\/15\/2014"}
{"Dept":"HR","ID":4,"Name":"Ryan","Salary":729.0,"StartDate":"5\/11\/2014"}
{"Dept":"Finance","ID":5,"Name":"Gary","Salary":843.25,"StartDate":"3\/27\/2015"}
{"Dept":"IT","ID":6,"Name":"Nina","Salary":578.0,"StartDate":"5\/21\/2013"}
{"Dept":"Operations","ID":7,"Name":"Simon","Salary":632.8,"StartDate":"7\/30\/2013"}
{"Dept":"Finance","ID":8,"Name":"Guru","Salary":722.5,"StartDate":"6\/17\/2014"}

In [17]:
#Reading Specific Columns and Rows

import pandas as pd
data = pd.read_excel('input.xlsx')

# Use the multi-axes indexing funtion
print (data.loc[[1,3,5],['salary','name']])

   salary   name
1   515.2    Dan
3   729.0   Ryan
5   578.0  Rasmi

In [30]:
import pandas as pd
with pd.ExcelFile('input.xlsx') as xls:
    df1 = pd.read_excel(xls, 'Sheet1')
    df2 = pd.read_excel(xls, 'Sheet2')

print("****Result Sheet 1****")
print (df1[0:5]['salary'])
print("\n")
print("***Result Sheet 2****")
print (df2[0:5]['zipcode'])

****Result Sheet 1****
0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64


***Result Sheet 2****
0    301224
1    341255
2    297704
3    216650
4    438700
Name: zipcode, dtype: int64